<div>
  <h1>Witmates</h1>
  <div>

    <% if user_signed_in? and current_user.is_admin? %>
      <%= link_to "Home", admin_dashboards_path %>

      <%= link_to "Users List", admin_users_path %>

      <%= link_to "Products List", admin_products_path %>
      
      <%= link_to "Orders List", admin_orders_path %>
      <%= link_to "Variants", admin_variants_path %>
      <%= link_to "Edit Profile", edit_user_registration_path %>    
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>

    <% if user_signed_in? and not(current_user.is_admin?) and current_user.approve %>
      <%= link_to "Home", dashboard_home_index_path %>
      <%= link_to "Sports", sports_path %>
      <%= link_to "Your Cart", carts_path %>
	    <%= link_to "Your Orders", orders_path %>
	    <%= link_to "Edit Profile", edit_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
	  <% end %>

    <% unless user_signed_in? %>
      <%= link_to "Home", home_index_path %>
      <%= link_to "Sign Up", new_user_registration_path  %>
      <%= link_to "Sign In", new_user_session_path  %>
    <% end %>

    
  </div>
</div>
