
<br>

Product Rating : 

<% if @product.feedbacks.exists? %>
  <% rating = @product.feedbacks.average(:ratings) %>

  <% wholestar = rating.to_i %>
  <% halfstar = (wholestar < rating) %>
  <% count = 0 %>
  <% wholestar.times do %>
    <span class="bi bi-star-fill"></span>
    <% count += 1 %>
  <% end %>
  <% if halfstar %>
    <span class="bi bi-star-half"></span>
    <% count += 1 %>
  <% end %>
  <% if count < 5 %>
    <% (5-count).times do %>
      <span class="bi bi-star"></span>
    <% end %>
  <% end %>
<% else %>
  <% 5.times do %>
      <span class="bi bi-star"></span>
    <% end %>
<% end %>


<br>
Product Name : <%= @product.name %><br>
Product Price : <%= @product.price %><br>
Product Availability : <%= @product.availability %><br>
Product Manufacture Date : <%= @product.manf_date %><br>
Product Image : <br>
<%= image_tag url_for(@product.avatar.variant(resize_to_limit: [300, 300]).processed ) if @product.avatar.attached? %> <br>



<h2>Feedbacks</h2>
<% @product.feedbacks.each do |feed| %>
  <p>
    <strong>Name:</strong>
    <%= feed.username %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= feed.message %>
  </p>

  <p>
    <strong>Rating:</strong>
    <% feed.ratings.to_i.times do  %>
 <span class="bi bi-star-fill"></span>
<% end %>
  </p>

  <% if feed.images.attached? %>
    <% feed.images.each do |image| %>
      <%= image_tag url_for(image.variant(resize_to_limit: [300, 300]).processed )  %> 
    <% end %>
  <% end %>
<% end %>







<%= render "feedbacks/form", product: @product%>
  