 <html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1>Variants List</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Name</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @variants.each do |variant| %>
  <tr>
	
	<td><%= variant.id %></td>
    <td><%= variant.name %></td>
    
    <td><%= link_to "View variant", admin_variant_path(variant) %> </td>
     <td>   <%= link_to "Edit variant", edit_admin_variant_path(variant) %></td>
     <td><%= link_to "Delete", admin_variant_path(variant) , method: :delete, data: { confirm: "Are you sure?" } %> </td>
     
</tr>
  <% end %>
</table>
</body>
</html>

<td>   <%= link_to "Add new variant", new_admin_variant_path %></td>





	
