<h4>Add feedback</h4>

<%= form_with model: [@product , @product.feedbacks.build] do |form| %>


  
  <%= form.hidden_field :username, :value => current_user.name %>
  <div>
    <%= form.label :message, "Feedback" %><br>
    <%= form.text_area :message %>
  </div>

  <div>
    <%= form.label :ratings, "Ratings" %><br>
    <%= form.select :ratings, [1,2,3,4,5] %>
  </div>

  <div>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <div>
    <%= link_to "Back", dashboard_home_index_path %>
  </div>
<% end %>