<%= form_with model: [:admin, @product], local: false do |form| %>

<% if flash[:messages] %>
  
    <h6 style= "color: red"><%= flash[:messages] %></h6> <br>
    <% flash[:messages] = nil %>

<% end %>

  <div>
    <%= form.label :name, "Name" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, "Price" %><br>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :availability, "Availability" %><br>
    <%= form.radio_button :availability , "Yes"%>
    <%= form.label :availability, "Yes" %>
    <%= form.radio_button :availability , "No"%>
    <%= form.label :availability, "No" %>
  </div>


  <div>
    <%= form.label :manf_date, "Manufacture Date" %><br>
    <%= form.date_field :manf_date %>
  </div>

  <div>
    <%= form.label :avatar, "Upload Product Image" %><br>
    <%= form.file_field :avatar %>
  </div>

  <div>
    <%= form.fields_for :product_variants do |varient_form| %>
      <%= render "product_variant_fields", f: varient_form %>
    <% end %>
    <%= link_to_add_fields "Add variant", form, :product_variants %>
  </div>

  
  <div>
    <%= form.submit %>
  </div>
  <div>
    <%= link_to "Back", :back %>
  </div>
<% end %>