<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
    <br>
Product Name : <%= @product.name %><br>
Product Price : <%= @product.price %><br>
Product Availability : <%= @product.availability %><br>
Product Manufacture Date : <%= @product.manf_date %><br>
Product Image : <br>
<%= image_tag url_for(@product.avatar.variant(resize_to_limit: [300, 300]).processed ) if @product.avatar.attached? %> <br>

<h3>Product Variants</h3>
<table>
  <tr>
    <th>Variant name</th>
    <th>Variant Attribute</th>
  </tr>
  <% if ProductVariant.find_by(product_id: @product.id).present? %>
    <% ProductVariant.where(product_id: @product.id).each do |var|%>
    
      <tr>
        <td><%= Variant.find_by(id: var.variant_id).name %></td>
        <td><%= VariantAttribute.find_by(id: var.variant_attribute_id).name %></td>
      </tr>
    <% end %>
  <% end %>
</table>


</body>
</html>



    